/*!
York Lite Editor Frame Styles
*/
/** === Title: Portfolio Post Type === */
body.block-editor-page.post-type-portfolio .block-editor .editor-post-title__block {
  margin-bottom: 0 !important;
  max-width: 720px;
}

@media (min-width: 800px) {
  body.block-editor-page.post-type-portfolio .block-editor .editor-post-title__block {
    margin-top: 0;
  }
}

body.block-editor-page.post-type-portfolio .block-editor .editor-post-title__block .editor-post-title__input {
  padding-bottom: 0;
  padding-top: 0;
  text-align: left;
}
