.home .type-page .entry-header {
	display: none;
}

.entry-media {
	margin-bottom: 40px;
	text-align: center;
}

.post-thumbnail {
	display: block;

	&__inner {
		overflow: hidden;
		transition: transform .4s ease-in-out;
	}

	&:hover &__inner {
		transform: scale(.99);

		/* Applies styles when Reduced Motion is enabled */
		@media screen and (prefers-reduced-motion: reduce) {
			transform: scale(1);
		}
	}

	&:hover .wp-post-image {
		transform: scale(1.05);

		/* Applies styles when Reduced Motion is enabled */
		@media screen and (prefers-reduced-motion: reduce) {
			transform: scale(1);
		}
	}

	.wp-post-image {
		transition: transform .4s ease-in-out;
	}
}

.entry-summary {
	padding: 0 20px;
	margin: 0 auto;
	max-width: 770px;
}

.entry-date + .updated {
	display: none;
}

.page-links {
	display: block;
	clear: both;
	padding-top: 50px;

	span {
		@include font-size(15px);
		background-color: #f0f0f0;
		border-radius: 3px;
		display: inline-block;
		height: 32px;
		line-height: 32px;
		text-align: center;
		transition: 200ms background cubic-bezier(0.3, -0.55, 0.1, 1.1);
		width: 32px;
	}

	a {
		box-shadow: none;
		color: $black;
		transition: 200ms color cubic-bezier(0.3, -0.55, 0.1, 1.1);
	}

	a span {
		color: $gray;

		&:hover {
			background: #eee;
		}
	}
}

p.attachment {
	text-align: center;

	a {
		display: block;
		box-shadow: none;
	}
}

.more-link {
	display: block !important;
	margin: 0 auto;
	text-align: center;
	box-shadow: none !important;
	margin-top: -10px;
}

.taxonomy-description {
	font-style: italic;
	display: inline-block;
	color: $gray;
	max-width: 560px;
	margin: 30px auto 0;

	@media only screen and (min-width: 700px) {
		margin-top: 35px;
	}
}

.bypostauthor {
	text-transform: normal;
}

.post-password-required input[type="password"] {
	margin-top: 10px;
}

.post-password-required input[type="submit"] {
	display: none;
}

.sticky {
	color: inherit;
}

.icon-sticky {
	display: inline-block;
	fill: $gray;
	text-align: center;
       	margin-right: 10px;
       	position: relative;
       	top: 7px;
       	width: 1.5em;
        height: 1.5em;

       	@media (min-width: 600px) {
		height: 1.8em;
       		margin-right: 15px;
       		top: 10px;
       		width: 1.8em;
	}
}
