html {
	box-sizing: border-box;
	height: 100%;
	width: 100%;
}

*,
*::before,
*::after {
	// Inherit box-sizing to make it easier to change the property for components that leverage other behavior; see http://css-tricks.com/inheriting-box-sizing-probably-slightly-better-best-practice/
	box-sizing: inherit;
}

body {
	background: $color--background-body; // Fallback for when there is no custom background color defined.
	height: 100%;
	width: 100%;
}

hr {
	background-color: $color--background-hr;
	border: 0;
	height: 1px;
	margin-bottom: 1.5em;
}

img {
	height: auto; // Make sure images are scaled correctly.
	max-width: 100%; // Adhere to container width.
	vertical-align: middle;
}

.hidden {
	@include hide();
	display: none;
}

@-ms-viewport {
	width: device-width;
}

@viewport {
	width: device-width;
}

/*--------------------------------------------------------------
#  Buttons
--------------------------------------------------------------*/
@import "buttons";

/*--------------------------------------------------------------
# Fields
--------------------------------------------------------------*/
@import "fields";